{% extends "base.html" %}

{% block title %}Home{{ super() }}{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <section class="hero is-medium is-light">
        <div class="hero-body">
          <p class="title is-1">
            NotifyPub
          </p>
          <p class="subtitle">
            Publish notification messages via the NotifyPub administrator dashboard!
          </p>
          <div class="buttons">
            <button class="button is-info is-large"><a href="{{ url_for('website.dashboard') }}">Enter Dashboard</a></button>
            <a href="https://github.com/imbev/NotifyPub"><button class="button is-info is-info is-outlined">
              <span>Source Code</span>
              <span class="icon">
                <ion-icon name="logo-github" size="large"></ion-icon>
              </span>
            </button></a>
          </div>
            <p>Use with any of the following on Web/iOS/Android:</p>
            <br>
          <nav class="level">
            <div class="level-left">
            <div class="level-item has-text-centered">
              <div class="box">
                <a href="https://feedly.com/">
                <p class="subtitle">Feedly</p>
                <figure class="image is-64x64 container">
                  <img src="https://play-lh.googleusercontent.com/NNS6OGOetsyYa0hhXTItJ7aCNljIKLD8uLibF5qdEBq_m7kHhK091KXZBVk7JzrfPw" />
                </figure>
              </a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div class="box">
                <a href="https://www.newsblur.com/">
                <p class="subtitle">NewsBlur</p>
                <figure class="image is-64x64 container">
                  <img src="https://play-lh.googleusercontent.com/S0AYLN1BNNpXjlN5MeYtK-73d4hPkkM5N6EuhWaIGAcVhC41JXyF9N8Lh0F4rT7A_ts1=w240-h480-rw" />
                </figure>
              </a>
              </div>
            </div>
            <div class="level-item">
              <div class="box">
                <a href="https://www.inoreader.com/">
                <p class="subtitle">Inoreader</p>
                <figure class="image is-64x64 container">
                  <img src="https://play-lh.googleusercontent.com/mPC_o8nhXrXE22isxxVwNNuyiaKskjTRcbGKZEwqm6xlyXkfkfcBH1XDVpMJXWFG5w" />
                </figure>
              </a>
              </div>
            </div>
          </div>
          </nav>
        </div>
          </div>
        </div>
        </div>
      </section>
</div>
{% endblock %}