{% extends "base.html" %}

{% block title %}Home{{ super() }}{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <section class="hero is-medium is-light">
        <div class="hero-body">
          <p class="title is-1">
            NotifyPub
          </p>
          <p class="subtitle">
            Share access tokens with your users, and publish notification messages via the NotifyPub administrator dashboard!
          </p>
        </div>
      </section>
</div>
{% endblock %}