{% extends "base.html" %}

{% block title %}Share{{ super() }}{% endblock %}

{% block body %}
{{ super() }}
<section class="section">
  <div class="container card">
    <h1 class="title card-header-title">
      Create Access Token
    </h1>
    <form action="{{ url_for('website.manage_tokens') }}" method="post" class="card-content">
      {{ form.csrf_token }}
      <div class="field">
        <label class="label">Description</label>
        <input class="input" name="description" id="description" placeholder="Lorem Ipsum" required>
        <label class="label">Token</label>
        <input class="input" name="token" id="token" placeholder="lorem_ipsum5" required>
        {% if form_error_message %}
        <br>
        <article class="message is-small is-danger">
          <div class="message-body">
            {{ form_error_message }}
          </div>
        </article>
        {% endif %}
      </div>
      <div class="field">
        <p class="control">
          <input type="submit" class="button is-warning" value="Submit">
        </p>
      </div>
    </form>
  </div>
</section>
<div class="container">
  {% if success_message %}
  <article class="message is-success">
    <div class="message-body">
      {{ success_message }}
    </div>
  </article>
  {% endif %}
  {% if error_message %}
  <article class="message is-danger">
    <div class="message-body">
      {{ error_message }}
    </div>
  </article>
  {% endif %}
  {% for token in tokens %}
  <article class="message">
    <div class="message-header">
      <p>{{ token[1] }}</p>
      <a href="{{ url_for('website.delete_token', token_id=token[0]) }}"><button class="delete"
          aria-label="delete"></button></a>
    </div>
    <div class="message-body">
      <p class="control has-icons-right">
        <input class="input" type="text" id="token-{{ token[2] }}"
          value="{{ config['base_url'] }}{{ url_for('website.share', token=token[2]) }}" readonly>
        <span class="icon is-small is-right">
          <ion-icon name="logo-rss"></ion-icon>
        </span>
      </p>
    </div>
  </article>
  {% endfor %}
  <div>
    <p class="has-text-centered">Users can use any of the following clients:</p>
    <br>
    <nav class="level is-justify-content-center">
      <div class="level-left">
        <div class="level-item">
          <div class="box">
            <a href="https://www.inoreader.com/">
              <p class="subtitle is-4 has-text-centered">Inoreader</p>
              <figure class="image is-64x64 container">
                <img
                  src="https://play-lh.googleusercontent.com/mPC_o8nhXrXE22isxxVwNNuyiaKskjTRcbGKZEwqm6xlyXkfkfcBH1XDVpMJXWFG5w" />
              </figure>
              <p class="subtitle has-text-centered">(Web/iOS/Android)</p>
            </a>
          </div>
        </div>
        <div class="level-item">
          <div class="box">
            <a href="https://chrome.google.com/webstore/detail/feedbro/mefgmmbdailogpfhfblcnnjfmnpnmdfa">
              <p class="subtitle is-4 has-text-centered">Feedbro</p>
              <figure class="image is-64x64 container">
                <img
                  src="https://lh3.googleusercontent.com/tYblj9TjdZIAh_z5WarI0fk8wB1w8VUicbMg_Y3Z8EyVpy59XP-zi4YC1RlOuvlXqy8wzTjCVlIawPA4dzIwcy-u=w128-h128-e365-rj-sc0x00ffffff" />
              </figure>
              <p class="subtitle has-text-centered">(Chrome/Edge/Opera/Brave)</p>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
{% endblock %}